/*
 * Copyright (c) 2022, LexxPluss Inc.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * 1. Redistributions of source code must retain the above copyright notice,
 *    this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
 * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/dts-v1/;
#include <st/f7/stm32f769Xg.dtsi>
#include <st/f7/stm32f769b(g-i)tx-pinctrl.dtsi>

/ {
	model = "LexxPluss Main Control Unit board";
	compatible = "st,stm32f769bg-lexxpluss";

	chosen {
		zephyr,code-partition = &image_0_primary_partition;
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &dtcm;
		zephyr,can-primary = &can1;
	};

	uss0: mb1604-0 {
		compatible = "maxbotix,maxbotix";
		label = "MB1604_0";
		trig-gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
		echo-gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	uss1: mb1604-1 {
		compatible = "maxbotix,maxbotix";
		label = "MB1604_1";
		trig-gpios = <&gpiog 2 GPIO_ACTIVE_HIGH>;
		echo-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	uss2: mb1604-2 {
		compatible = "maxbotix,maxbotix";
		label = "MB1604_2";
		trig-gpios = <&gpiog 3 GPIO_ACTIVE_HIGH>;
		echo-gpios = <&gpiog 4 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	uss3: mb1604-3 {
		compatible = "maxbotix,maxbotix";
		label = "MB1604_3";
		trig-gpios = <&gpiog 5 GPIO_ACTIVE_HIGH>;
		echo-gpios = <&gpiog 6 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	uss4: mb1604-4 {
		compatible = "maxbotix,maxbotix";
		label = "MB1604_4";
		trig-gpios = <&gpiog 7 GPIO_ACTIVE_HIGH>;
		echo-gpios = <&gpiog 8 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&clk_hse {
	hse-bypass;
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <432>;
	div-p = <2>;
	div-q = <9>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(216)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10 &usart1_cts_pa11 &usart1_rts_pa12>;
	current-speed = <115200>;
	hw-flow-control;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6 &usart2_cts_pd3 &usart2_rts_pd4>;
	current-speed = <115200>;
	hw-flow-control;
	status = "okay";
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pg14 &usart6_rx_pg9>;
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
       pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
       status = "okay";
       adis16470@0 {
               compatible = "adi,adis16470";
               reg = <0>;
               spi-max-frequency = <2000000>;
               label= "ADIS16470";
       };
};


&spi4 {
	pinctrl-0 = <&spi4_sck_pe2 &spi4_miso_pe5 &spi4_mosi_pe6>;
	status = "okay";
	led_strip0: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812_0";
		reg = <0>;
		spi-max-frequency = <8000000>;
		chain-length = <36>;
		spi-one-frame = <0x7c>;
		spi-zero-frame = <0x60>;
	};
};

&spi3 {
	pinctrl-0 = <&spi3_sck_pb3 &spi3_miso_pb4 &spi3_mosi_pb5>;
	status = "okay";
	led_strip1: ws2812@1 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812_1";
		reg = <1>;
		spi-max-frequency = <8000000>;
		chain-length = <36>;
		spi-one-frame = <0x7c>;
		spi-zero-frame = <0x60>;
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in0_pa0 &adc1_in1_pa1 &adc1_in10_pc0 &adc1_in11_pc1 &adc1_in12_pc2 &adc1_in13_pc3>;
	status = "okay";
};

&timers1 {
	status = "okay";
	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch2_pe11>;
		st,prescaler = <0>;
	};
};

&timers5 {
	status = "okay";
	pwm5: pwm {
		status = "okay";
		pinctrl-0 = <&tim5_ch1_ph10 &tim5_ch2_ph11>;
		st,prescaler = <0>;
	};
};

&timers8 {
	status = "okay";
	pwm8: pwm {
		status = "okay";
		pinctrl-0 = <&tim8_ch1_pc6 &tim8_ch2_pc7>;
		st,prescaler = <0>;
	};
};

&timers2 {
	status = "okay";
	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch3_pb10>;
		st,prescaler = <0>;
	};
};

&timers3 {
	status = "okay";
	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch3_pb0>;
		st,prescaler = <0>;
	};
};

&timers4 {
	status = "okay";
	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch1_pb6>;
		st,prescaler = <0>;
	};
};

&timers9 {
	status = "okay";
	pwm9: pwm {
		status = "okay";
		pinctrl-0 = <&tim9_ch1_pa2>;
		st,prescaler = <0>;
	};
};

&timers12 {
	status = "okay";
	pwm12: pwm {
		status = "okay";
		pinctrl-0 = <&tim12_ch1_ph6>;
		st,prescaler = <0>;
	};
};

&timers14 {
	status = "okay";
	pwm14: pwm {
		status = "okay";
		pinctrl-0 = <&tim14_ch1_pf9>;
		st,prescaler = <0>;
	};
};

&can1 {
	pinctrl-0 = <&can1_tx_ph13 &can1_rx_ph14>;
	bus-speed = <500000>;
	sjw = <1>;
	prop-seg = <0>;
	phase-seg1 = <5>;
	phase-seg2 = <6>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_sda_pb7 &i2c1_scl_pb8>;
	status = "okay";
};

&sdmmc1 {
	pinctrl-0 = <&sdmmc1_d0_pc8 &sdmmc1_d1_pc9 &sdmmc1_d2_pc10 &sdmmc1_d3_pc11 &sdmmc1_ck_pc12 &sdmmc1_cmd_pd2>;
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0x00020000>;
		};
		storage_partition: partition@20000 {
			label = "storage";
			reg = <0x00020000 0x00020000>;
		};
		image_0_primary_partition: partition@40000 {
			label = "image-0";
			reg = <0x00040000 0x00040000>;
		};
		image_0_secondary_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 0x00040000>;
		};
		scratch_partition: partition@C0000 {
			label = "image-scratch";
			reg = <0x000C0000 0x00040000>;
		};
	};

};
